{% load static %}  <!-- static 태그를 로드 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nickname }} - 상세 정보</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <h1>{{ user.nickname }}</h1>
        <img src="{{ user.profile_picture.url }}" alt="{{ user.nickname }} 프로필사진">
        {% if user.liked_songs %}
            {% for song in user.liked_songs.all %}
                <a href="{% url 'musics:detail' song.id %}">{{ song.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>좋아하는 노래가 없다</p>
        {% endif %}
</body>
</html>
