{% load static %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}제목{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
        {% include 'login.html' %}
    {% endblock %}
    
    {% if user.is_authenticated %}
        <script>
        document.addEventListener("DOMContentLoaded", function(){
            // 메시지 카운트 업데이트
            function updateUnreadMessages(){
                fetch("{% url 'user_messages:unread_messages_count' %}")
                .then(response => response.json())
                .then(data => {
                    const badge = document.getElementById("unread-messages-badge");
                    if (data.unread_messages_count > 0) {
                        badge.textContent = data.unread_messages_count;
                        badge.style.display = "inline-block";
                    } else {
                        badge.style.display = "none";
                    }
                })
                .catch(error => console.error("Error fetching unread messages"));
            }
        
            // 드롭다운 메뉴 토글
            const profileButton = document.querySelector('.profile-button');
            const dropdownMenu = document.querySelector('.dropdown-menu');
        
            profileButton.addEventListener('click', function(e) {
                e.stopPropagation();
                dropdownMenu.classList.toggle('show');
            });
        
            document.addEventListener('click', function(e) {
                if (!dropdownMenu.contains(e.target)) {
                    dropdownMenu.classList.remove('show');
                }
            });
        
            setInterval(updateUnreadMessages, 10000);
            updateUnreadMessages();
        });
        </script>
    {% endif %}
    {% include 'musics/index.html' with song_list=popular_song_list %}

</body>
</html>