<!-- base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}제목{% endblock %}</title>
</head>
<body>
    <!-- 헤더 포함 -->
    {% block content %}
        {% include 'login.html' %}
        <h2>Popular Songs</h2>
        {% include 'musics/index.html' with song_list=popular_song_list %}
        <h2>New Released Songs</h2>
        {% include 'musics/index.html' with song_list=new_release_song_list %}
    {% endblock %}
</body>
</html>