{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<nav class="navbar">
    <div class="nav-brand">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="로고" class="nav-logo">
        </a>
    </div>

    <div class="nav-menu">
        {% if user.is_authenticated %}
            <div class="nav-item">
                
                <a href="{% url 'user_messages:inbox' %}" class="nav-link message-link">
                    <i class="fas fa-inbox"></i>
                </a>
            </div>
            
            <div class="nav-item dropdown">
                <button class="nav-link profile-button">
                    <img src="{{ user.profile_picture_url|default:'/static/images/default-user-profile.png' }}" 
                         alt="프로필" 
                         class="profile-image">
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'users:profile' user.id %}" class="dropdown-item">
                        <i class="fas fa-user"></i> 프로필
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> 로그아웃
                    </a>
                </div>
            </div>
        {% else %}
            <div class="nav-item">
                <a href="{% url 'account_login' %}" class="nav-link login-button">
                    로그인
                </a>
            </div>
        {% endif %}
    </div>
</nav>
{% if user.is_authenticated %}
    <script>   
        document.addEventListener("DOMContentLoaded", function(){
            function updateUnreadMessages(){
                fetch("{% url 'user_messages:unread_messages_count' %}")
                .then(response => response.json())
                .then(data => {
                    const badge = document.getElementById("unread-messages-badge");
                    if (data.unread_messages_count > 0) {
                        badge.textContent = data.unread_messages_count;
                        badge.classList.remove('d-none');
                    } else {
                        badge.classList.add('d-none');
                    }
                })
                .catch(error => console.error("Error fetching unread messages"));
            }

            setInterval(updateUnreadMessages, 10000);
            updateUnreadMessages();
        });
    </script>
{% endif %}